Repository OsmanMohamad249/Tiraz: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-migrations, check-dependencies, flutter-analyze

.pre-commit-config.yaml:

# Pre-commit hooks configuration
# Install: pip install pre-commit && pre-commit install
# Run manually: pre-commit run --all-files

repos:
  # Python code formatting
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
        name: Format Python code with Black
        files: ^backend/
        exclude: ^backend/alembic/versions/

  # Python import sorting
  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        name: Sort Python imports
        files: ^backend/
        exclude: ^backend/alembic/versions/
        args: ["--profile", "black"]

  # Python linting
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        name: Lint Python code with Flake8
        files: ^backend/
        exclude: ^backend/alembic/versions/
        args: ["--max-line-length=100", "--ignore=E203,W503"]

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        name: Trim trailing whitespace
      - id: end-of-file-fixer
        name: Fix end of files
      - id: check-yaml
        name: Check YAML syntax
      - id: check-json
        name: Check JSON syntax
      - id: check-added-large-files
        name: Check for large files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
        name: Check for merge conflicts
      - id: mixed-line-ending
        name: Fix mixed line endings

  # Local custom hooks
  - repo: local
    hooks:
      - id: check-migrations
        name: Check Migration Chain Integrity
        entry: python backend/scripts/check_migrations.py
        language: system
        pass_filenames: false
        files: ^backend/alembic/versions/.*\.py$

      - id: check-dependencies
        name: Check Python Dependencies
        entry: python backend/scripts/check_dependencies.py
        language: system
        pass_filenames: false
        files: ^backend/(requirements\.txt|pyproject\.toml)$

      - id: flutter-analyze
        name: Flutter Analyze
        entry: bash -c 'cd mobile-app && flutter analyze --no-fatal-infos --no-fatal-warnings'
        language: system
        pass_filenames: false
        files: ^mobile-app/lib/.*\.dart$
        exclude: ^mobile-app/lib/.*\.(g|freezed|gr|config)\.dart$

fix: improve Flutter analysis and add automation tools (#79)
  .pre-commit-config.yaml
  backend/scripts/migrate_to_poetry.sh
  mobile-app/analysis_options.yaml
  mobile-app/scripts/regenerate_files.sh
  scripts/run_tests_with_db.sh
  scripts/setup_pre_commit.sh
Due: none

fix: Root cause fixes for Flutter Analyze and Smoke E2E failures (#80)
  .ci/.ci.env
  .ci/.ci.env.example
  .ci/README.md
  .github/workflows/ci-smoke-measurements.yml
  .gitignore
  mobile-app/analysis_options.yaml
Due: none

Escape variables in Postgres commands in CI workflow
  .github/workflows/ci-smoke-measurements.yml
Due: none

fix(ci): final CI workflow fixes - inject ENV_VARS into docker compose up and escape psql vars
  .github/workflows/ci-backend-tests.yml
  .github/workflows/ci-smoke-measurements.yml
Due: none

fix(ci): final CI workflow fixes - inject ENV_VARS into docker compose up and escape psql vars (#82)
  .github/workflows/ci-backend-tests.yml
  .github/workflows/ci-smoke-measurements.yml
Due: none

Add SECRET_KEY export to GITHUB_ENV
  .github/workflows/ci-backend-tests.yml
Due: none

ci: remove duplicated workflow block from ci.yml (truncate after tests)
  .github/workflows/ci.yml
Due: none

Fix indentation in CI workflow YAML file
  .github/workflows/ci-backend-tests.yml
Due: none

ci: use 'docker compose' (plugin) instead of 'docker-compose' in smoke E2E workflow
  .github/workflows/ci-smoke-measurements.yml
Due: none

Refactor Docker Compose setup in CI workflow
  .github/workflows/ci-backend-tests.yml
Due: none

docs(ci): normalize to 'docker compose' command and enforce plugin; update docs and diagnostic script
  .github/copilot-instructions.md
  QUICKSTART.md
  SPRINT1_SETUP_GUIDE.md
  SPRINT1_SUMMARY.md
  diagnose.sh
  docs/DEVELOPMENT.md
  docs/FRONTEND_SETUP.md
  docs/PROJECT_BOARD_SETUP.md
  docs/SETUP.md
Due: none

fix(alembic): shorten long revision ids to fit varchar(32)
  backend/alembic/versions/20251115_add_templates_and_assets.py
  backend/alembic/versions/20251115_merge_heads_575410277ca3_and_20251115_add_templates_and_assets.py
  backend/alembic/versions/20251117_merge_multiple_heads.py
Due: check-migrations

ci(alembic): add pre-migration script and run it in CI to avoid alembic_version truncation
  .github/workflows/ci-smoke-measurements.yml
  .github/workflows/ci.yml
  backend/scripts/ensure_alembic_version_size.py
Due: none

ci(alembic): attempt ALTER alembic_version column in env.py (guarded)
  backend/alembic/env.py
Due: none

fix: admin-portal/package.json & admin-portal/package-lock.json to reduce vulnerabilities
  admin-portal/package-lock.json
  admin-portal/package.json
Due: none

Expand alembic_version.version_num to 168 chars
  backend/alembic/versions/20251118_expand_alembic_version.py
Due: check-migrations

fix(tests): Repair and stabilize the test suite
  .github/copilot-instructions.md
  backend/alembic/env.py
  backend/integration_test.py
  backend/tests/fixtures/test_back.png
  backend/tests/fixtures/test_front.png
  backend/tests/fixtures/test_left.png
  backend/tests/fixtures/test_right.png
  backend/tests/test_templates.py
Due: none

Fix frontend navigation, update dependencies, and fix API URL construction
  backend/create_test_designs.py
  mobile-app/.flutter-plugins-dependencies
  mobile-app/lib/features/auth/presentation/home_screen.dart
  mobile-app/lib/features/auth/presentation/splash_screen.dart
  mobile-app/lib/main.dart
  mobile-app/lib/screens/auth/home_screen.dart
  mobile-app/lib/services/measurement_service.dart
  mobile-app/lib/utils/app_config.dart
  mobile-app/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile-app/pubspec.lock
  mobile-app/pubspec.yaml
  mobile-app/web/index.html
Due: flutter-analyze

feat: Add Smart Camera with AI Measurement Engine and CI workflow
  .github/workflows/build_mobile_app.yml
  mobile-app/.flutter-plugins-dependencies
  mobile-app/devtools_options.yaml
  mobile-app/lib/features/auth/presentation/home_screen.dart
  mobile-app/lib/screens/smart_camera_screen.dart
  mobile-app/lib/services/qeyafa_measurement_engine.dart
  mobile-app/linux/flutter/generated_plugin_registrant.cc
  mobile-app/linux/flutter/generated_plugins.cmake
  mobile-app/macos/Flutter/GeneratedPluginRegistrant.swift
  mobile-app/pubspec.lock
  mobile-app/pubspec.yaml
  mobile-app/windows/flutter/generated_plugin_registrant.cc
  mobile-app/windows/flutter/generated_plugins.cmake
Due: flutter-analyze

fix: Upgrade Flutter version in CI to 3.38.2 to support Dart 3.8.0+
  .github/workflows/build_mobile_app.yml
Due: none

docs: Update README to trigger mobile app build
  mobile-app/README.md
Due: none

fix: Set minSdkVersion to 21 for ML Kit and use latest stable Flutter in CI
  .github/workflows/build_mobile_app.yml
  mobile-app/android/app/build.gradle
Due: none

fix: Upgrade Android build tools (Kotlin 1.9.0, AGP 7.4.2) and Dart SDK constraint
  .github/workflows/build_mobile_app.yml
  mobile-app/android/build.gradle
  mobile-app/pubspec.yaml
Due: none

fix: Migrate Android build to declarative plugins block (Flutter 3.19+ requirement)
  mobile-app/android/app/build.gradle
  mobile-app/android/settings.gradle
Due: none

fix: Add fallback to find Flutter SDK from PATH in settings.gradle for CI
  mobile-app/android/settings.gradle
Due: none

fix: Correct path for local.properties creation in CI (relative to working-directory)
  .github/workflows/build_mobile_app.yml
Due: none

fix: CI pipeline robustness and Pydantic compatibility
  .github/workflows/ci-backend-tests.yml
  .github/workflows/ci-smoke-measurements.yml
  backend/requirements.txt
  requirements.txt
Due: check-dependencies

fix: backend/requirements.txt to reduce vulnerabilities
  backend/requirements.txt
Due: check-dependencies

fix: backend/requirements.txt to reduce vulnerabilities (#87)
  backend/requirements.txt
Due: check-dependencies

fix: CI robustness - SECRET_KEY generation, timeout fix, and PYTHONPATH setup
  .github/workflows/ci-backend-tests.yml
  .github/workflows/ci-smoke-measurements.yml
  backend/tests/conftest.py
Due: none

feat: Finalize Smart Camera UI with Real-time Z-Depth Feedback
  mobile-app/.flutter-plugins-dependencies
  mobile-app/ANDROID_INTEGRATION_GUIDE.md
  mobile-app/ANDROID_NATIVE_IMPLEMENTATION.md
  mobile-app/CAMERA_INTEGRATION_COMPLETE.ar.md
  mobile-app/android/app/src/main/kotlin/com/example/app/MainActivity.kt
  mobile-app/android/app/src/main/kotlin/com/qeyafa/mobile/MainActivity.kt
  mobile-app/android/app/src/main/kotlin/com/qeyafa/mobile/PoseDetectorHelper.kt
  mobile-app/lib/core/services/vision_service.dart
  mobile-app/lib/examples/native_pose_detection_example.dart
  mobile-app/lib/examples/pose_detection_camera.dart
  mobile-app/lib/features/measurement/painters/silhouette_painter.dart
  mobile-app/lib/features/measurement/screens/smart_camera_screen.dart
Due: flutter-analyze

feat: Add auto-capture system with countdown and APK build guide
  mobile-app/.flutter-plugins-dependencies
  mobile-app/BUILD_APK_GUIDE.md
  mobile-app/build-apk.sh
  mobile-app/lib/examples/native_pose_detection_example.dart
  mobile-app/lib/examples/pose_detection_camera.dart
  mobile-app/lib/features/measurement/screens/smart_camera_screen.dart
Due: flutter-analyze

fix: Update Android SDK setup and fix build configuration
  mobile-app/.flutter-plugins-dependencies
  mobile-app/android/app/build.gradle
  mobile-app/android/app/src/debug/AndroidManifest.xml
  mobile-app/android/app/src/main/kotlin/com/qeyafa/mobile/MainActivity.kt
  mobile-app/android/app/src/main/kotlin/com/qeyafa/mobile/MediaPipePlugin.kt
  mobile-app/android/build.gradle
  mobile-app/android/gradle.properties
  mobile-app/android/settings.gradle
Due: none

fix: صحح مسارات استيراد PoseLandmark في BodyCalculator
  mobile-app/lib/features/measurement/BODY_CALCULATOR_GUIDE.md
  mobile-app/lib/features/measurement/data/measurement_result.dart
  mobile-app/lib/features/measurement/logic/body_calculator.dart
  mobile-app/test/features/measurement/body_calculator_test.dart
Due: flutter-analyze

feat: نظام قياس الجسم - اختبار شامل مع 4 وضعيات
  mobile-app/lib/features/measurement/logic/body_calculator.dart
  mobile-app/measurement_test_results.txt
  mobile-app/test_measurement_system.dart
Due: flutter-analyze

docs: إضافة ملخص شامل لاختبار نظام القياس
  mobile-app/MEASUREMENT_SYSTEM_TEST_SUMMARY.md
Due: none

feat: إنشاء شاشة عرض النتائج وتحديث نظام الالتقاط
  mobile-app/lib/features/measurement/screens/measurement_result_screen.dart
  mobile-app/lib/features/measurement/screens/smart_camera_screen.dart
Due: flutter-analyze

feat: نظام Multi-Pose مع التوجيه الصوتي (TTS)
  mobile-app/lib/core/services/voice_service.dart
  mobile-app/lib/features/measurement/controllers/measurement_flow_controller.dart
  mobile-app/lib/features/measurement/screens/smart_camera_screen_backup.dart
  mobile-app/test/features/measurement/measurement_flow_controller_test.dart
Due: flutter-analyze

docs: Add comprehensive implementation report for Precision Strategy
  mobile-app/PRECISION_STRATEGY_IMPLEMENTATION_REPORT.md
Due: none
